---
import Layout from '../layouts/Layout.astro';
import AnimatedName from '../components/AnimatedName';


const matchaImages = [
  {
    src: "https://i.imgur.com/HvtTUyX.png",
    alt: "banana",
    caption: "banana milk matcha!!!!"
  },
  {
    src: "https://i.imgur.com/VPprq7k.png",
    alt: "matcha at home",
    caption: " "
  },

  {
    src: "https://i.imgur.com/YYueY7P.jpeg",
    alt: "cafe maiko",
    caption: "kuromitsu matcha @ cafe maiko in san francisco, ca"
  },
  {
    src: "https://i.imgur.com/3Oghznw.jpeg",
    alt: "urban ice cream",
    caption: "matcha ice cream @ urban matcha in las vegas, nv"
  },
  {
    src: "https://i.imgur.com/69Q5Vg3.jpeg",
    alt: "black sesame",
    caption: "black sesame matcha!!!"
  },
  {
    src: "https://i.imgur.com/jfEs9cs.png",
    alt: "foamy",
    caption: "how i learned that foam emphasizes the bitterness of matcha"
  },
  {
    src: "https://i.imgur.com/VS6UT8f.png",
    alt: "heavy cream",
    caption: "w/ heavy cream made by my roommate, thanks emily"
  },
  {
    src: "https://i.imgur.com/FJVrqYC.png",
    alt: "strawberry to go",
    caption: "thanks again emily"
  },
  {
    src: "https://i.imgur.com/KGV5GEz.jpeg",
    alt: "strawberry matcha",
    caption: "strawberry matcha @ tamper room in fremont, ca"
  }
];
---

<Layout title="matcha - jadden picardal">
  <section class="mb-20 sm:mb-32">
    <div class="mb-10 sm:mb-16">
      <AnimatedName text="Matcha" size="7xl" client:load />
    </div>
    
    <div class="prose prose-lg text-secondary max-w-none mb-10 sm:mb-16">
      <p class="font-['Redaction-10']">
        a collection of some matcha moments. hahaha i love you very matcha.
      </p>
      <p class="font-['Redaction-10'] mt-4">
        current arsenal: <a href="https://naokimatcha.com/products/superior-blend-matcha" class="text-accent" target="_blank" rel="noopener">naoki superior blend</a>
      </p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6">
      {matchaImages.map(img => (
        <div class="flex flex-col">
          <div class="aspect-square overflow-hidden rounded-md mb-2">
            <img 
              src={img.src} 
              alt={img.alt}
              width="600"
              height="600"
              loading="lazy"
              class="w-full h-full object-cover"
            />
          </div>
          <p class="text-secondary font-['Redaction-10'] text-sm sm:text-base">
            {img.caption}
          </p>
        </div>
      ))}
    </div>
    

  </section>
</Layout>

